container_commands: 
  c0:
    command: 
      - sudo mkdir ffmpeg
      - cd ffmpeg && sudo wget https://www.johnvansickle.com/ffmpeg/old-releases/ffmpeg-4.2.1-amd64-static.tar.xz
      - cd ffmpeg && sudo tar xvf ffmpeg-4.2.1-amd64-static.tar.xz
      - cd ffmpeg && sudo mv ffmpeg-4.2.1-amd64-static/ffmpeg .
      - cd ffmpeg && sudo ln -s /usr/local/bin/ffmpeg/ffmpeg /usr/bin/ffmpeg
    cwd: /usr/local/bin
    test: ffmpeg
    ignoreErrors: true